# 설치

In [1]:
print(123)

123

In [2]:
print("안녕")

안녕

# 숫자형 , 문자열자료형, 리스트자료형

In [3]:
print("안녕")

안녕

## 1절 숫자형

In [4]:
1*4

4

In [5]:
2/4

0.5

In [6]:
7/4

1.75

In [7]:
7%4  # 나머지 값

3

In [8]:
7//4 #나머지 버리고

1

In [9]:
a = 12
b = 3
c = a - b
print(c)

9

## 2절 문자열

In [10]:
a = "Life is too short, You need Phtyon"
a[0]+a[10]+a[30]

'Lot'

In [11]:
a[2:5]

'fe '

In [12]:
a[:]

'Life is too short, You need Phtyon'

In [14]:
#lab
revenue =98456
cost = 45000
profit = revenue - cost
print(profit)

53456

In [30]:
#문자열다루기

a = "I love Phython!"
b = "You hate Phython!"

In [31]:
a.find('o')

3

In [32]:
b.index('o')

1

In [33]:
a.count('o')

2

In [36]:
a.upper()

'I LOVE PHYTHON!'

In [37]:
b.lower()

'you hate phython!'

In [39]:
a_6 = a[:7]
a_6

'I love '

In [41]:
a_6.rstrip()

'I love'

In [42]:
a= ","
a.join('abcd')

'a,b,c,d'

In [ ]:
a

In [52]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
print(year, month)

2018 03

In [53]:
"{c}년 {d}월 입니다" .format(c=year, d=month)

'2018년 03월 입니다'

In [60]:
f = "bby"
f.count('b')

2

In [61]:
f.find('b')

0

In [62]:
f.index('b')

0

In [65]:
f=", "
f.join('ab')

'a, b'

In [70]:
pi = 3.141592
sq_root = 1.41429

In [72]:
"Pi is {a}, and squre is {b}". format(a = pi, b = sq_root)

'Pi is 3.141592, and squre is 1.41429'

In [73]:
print("안녕")

안녕

In [74]:
a = []
a

[]

In [75]:
b = [1, 2]
b

[1, 2]

In [76]:
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [79]:
del a[0:3]
a

[]

In [81]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [83]:
a = [1, 2, 3]
a.append([5,6])
a

[1, 2, 3, [5, 6]]

In [101]:
a = [1, 2, 3]
a[2] = [3, 4, 5]
a

[1, 2, [3, 4, 5]]

In [100]:
a = [1, 2, 3]
a[2:] = [3, 4, 6]
a

[1, 2, 3, 4, 6]

In [94]:
a = [1, 3, 2]
a.reverse()
a

[2, 3, 1]

In [95]:
a.sort()
a

[1, 2, 3]

In [96]:
a = [1, 2, 3]
a.index(2)

1

In [97]:
a.pop()

3

In [98]:
a

[1, 2]

In [99]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [103]:
#튜플
t1 = (1, 2, 3)
t1[0]

1

In [104]:
#딕셔너리 
dic = {'name':'홍', 'p':'010'}
dic

{'name': '홍', 'p': '010'}

In [105]:
dic['name'] #키로 밸류찾기

'홍'

In [106]:
dic.keys()

dict_keys(['name', 'p'])

In [107]:
dic.values()

dict_values(['홍', '010'])

In [ ]:
#제어문

In [ ]:
money = 1 
if money:
    print("택시")

In [1]:
money = 1
if money:
    print("택시 타자")
else:
    print("걸어가야해")

택시 타자

In [2]:
# 머니가 2000원있을때
#머니가 삼천이상이면 택시타고 아니면 걸어가자 출력 
money = 2000
if money >= 3000:
    print("택시")
else:
    print("걸어")

걸어

In [3]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택")
else:
    print("walk")

택

In [4]:
pocket = ['paper', 'phone']
if 'money' in pocket:
    print("taxi")
else: 
    print("walk")

walk

In [9]:
pockt = ['paper','phone' ]
if 'money' in pocket:
    print("택시")
elif 'card'in pocket:
    print("택시")
else: 
    print("걸어")

걸어

In [10]:
#lab1 
##수익계산
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

In [13]:
##아이러브 파이썬
a = "I love Python"
b = "You hate Python!"
a.find('o')

3

In [14]:
a.index('o')

3

In [15]:
a.find('c')

-1

In [16]:
a.index('c')

ValueError: substring not found

In [17]:
a.count('o')

2

In [36]:
A = a.upper()
A

'I LOVE PYTHON'

In [20]:
B = b.lower()
B

'you hate python!'

In [21]:
a_6 = a[:6]
a_6

'I love'

In [26]:
a_end_7 = a[6:]
a_end_7

' Python'

In [43]:
like = 'like''
“You {like} Python!”.format (like=like)

SyntaxError: EOL while scanning string literal (<ipython-input-43-eb1f40816204>, line 1)

In [33]:
a.split()

['I', 'love', 'Python']

In [38]:
a.rstrip
a

'I love Python'

In [8]:
w_states = ['CA', 'WA', 'AZ', 'UT', 'CO']
e_states = ['NJ', 'MA', 'NY', 'VA', 'PA']
w_states.sort()
print(w_states)

['AZ', 'CA', 'CO', 'UT', 'WA']

In [7]:
w_states.append('nv')
w_states

['AZ', 'CA', 'CO', 'UT', 'WA', 'nv']

In [9]:
states = w_states + e_states
states

['AZ', 'CA', 'CO', 'UT', 'WA', 'NJ', 'MA', 'NY', 'VA', 'PA']

In [11]:
state_5 = states[:5]
state_5

['AZ', 'CA', 'CO', 'UT', 'WA']

In [14]:
state_9 = states[:-2]
state_9

['AZ', 'CA', 'CO', 'UT', 'WA', 'NJ', 'MA', 'NY']

In [15]:
states.index('CO')

2

In [18]:
regions = [('Northeast', 55.3),('Midwest', 66.9),('South', 114.6),('West', 71.9)]

In [20]:
sum = regions[0][1] + regions[1][1]

In [30]:
print("The population of the {Northeast} is {pop} million." .format(Northeast = regions[0][0], pop = regions[0][1]))

The population of the Northeast is 55.3 million.

In [32]:
a = {'김':8888, '이':9999}
a['김']

8888

In [33]:
a.get('이')

9999

In [36]:
a['최'] = 2222
a

{'김': 8888, '이': 9999, '최': 2222}

In [39]:
a.keys()

dict_keys(['김', '이', '최'])

In [40]:
a.values()

dict_values([8888, 9999, 2222])

SyntaxError: invalid syntax (<ipython-input-45-72c94d8582c9>, line 2)

In [ ]:
4

In [49]:
count = 0
while count < 10:
    count = count + 1 
    print("{count}번 찍었습니다" .format(count=count))
    if count == 10: 
        print("나무가 넘어갑니다.")

1번 찍었습니다
2번 찍었습니다
3번 찍었습니다
4번 찍었습니다
5번 찍었습니다
6번 찍었습니다
7번 찍었습니다
8번 찍었습니다
9번 찍었습니다
10번 찍었습니다
나무가 넘어갑니다.

In [ ]:
prompt=

In [51]:
coffee = 10  
money = 300
while money:
    print("커피나온다")
    coffee = coffee -1 
    if not coffee: 
        print('커피가 없습니다.')
        break

커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피나온다
커피가 없습니다.

In [52]:
#홀수판별
a = 0
while a <10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [63]:
# 포문 60점 넘으면 합격이고 아니면 불합격이양 
scores = [99, 25, 65, 45, 80]

for i in scores:
    if i >= 60:
        print("합")
    else:
        print("불")

합
불
합
불
합

In [68]:
#60점 이상만 합격통보
scores = [99, 25, 65, 45, 80]

for i in scores:
    if i < 60: continue
    print(i, "합격")
    
    #

99 합격
65 합격
80 합격

In [71]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
fruits = ['천해향', '레드향', '한라봉', '귤', '딸기', '수박']
for i in fruits:
    print(i)

천해향
레드향
한라봉
귤
딸기
수박

In [79]:
#과일에 복숭아 추가하기 

fruits.append('복숭아')
print(fruits)

['천해향', '레드향', '한라봉', '귤', '딸기', '수박', '복숭아', '복숭아']

In [80]:
#### 복수앙 알러지가 있을 수있으니 이프문을 활용하여 
#복숭아는 제외하고 출력히시오

for i in fruits : 
    if i == '복숭아' : continue
    print(i)

천해향
레드향
한라봉
귤
딸기
수박

In [ ]:
mygpa = float

In [ ]:
count = 0
while

In [83]:
my_gpa = 50

if my_gpa >= 60:
    print("패스")
else:
    print("불")

불

In [ ]:

리스트 regions는 4개의 튜플을 가지고 있으며, 
각 튜플을 미국 4개 지역의 이름과 인구수(백만 명) 정보를 제공한다.
“Northeast”, 55.3
“Midwest”, 66.9
“South”, 114.6
“West”, 71.9

결과는 

The population of the Northeath is 55.3 million.
The population of the midwest is 66.9 million.
The population of the South is 114.6 million.
The population of the West is 71.9 million.
The total population of USA is 308.7 million.

In [86]:
regions = [('Northeast'', 55.3), ('Midwest', 66.9), ('South', 114.6), ('West', 71.9)]
sum = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]

SyntaxError: invalid syntax (<ipython-input-86-a6294c3a2044>, line 1)

In [1]:
money = 1
if money:
    print("택시")
else:
    print("걸어")

택시

In [2]:
money = 2000
if money >= 3000:
    print("taxi")
else:
    print("walk")

walk

In [3]:
money = 2000
card = 1
if money >= 3000 or card:
    print("taxi")

taxi

In [4]:
1 in [1, 2]

True

In [5]:
pocket = ["money", "phone" ] 
if "money" in pocket:
    print("taxi")
else:
    print("walk")

taxi

In [6]:
pocket = ["money", "phone" ]
if "money" in pocket:
    pass
else:
    print("w")

In [9]:
card = 1
pocket = ["paper", "phone"] 
if money in pocket:
    print("t")
elif card:
    print('t')
else:
    print("w")

t

In [24]:
count = 0
while count < 10:
    count = count + 1
    print("{count}번 찍었다." .format(count = count))
    if count == 10:
        print("넘")

1번 찍었다.
2번 찍었다.
3번 찍었다.
4번 찍었다.
5번 찍었다.
6번 찍었다.
7번 찍었다.
8번 찍었다.
9번 찍었다.
10번 찍었다.
넘

In [26]:
coffee = 10
money = 20
while money:
    coffee = coffee - 1
    print("줄께")
    if not coffee:
        print("없어")
        break

줄께
줄께
줄께
줄께
줄께
줄께
줄께
줄께
줄께
줄께
없어

In [30]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [32]:
scores = [20, 30, 40, 50, 60]
for i in scores:
    if i >= 60:
        print("합")
    else:
        print("불")

불
불
불
불
합

In [42]:
scores = [99, 25, 67, 45, 80]
for i in scores:
    if i < 60: continue
    print(i, "축")

99 축
67 축
80 축

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
len(scores)

5

In [38]:
range(len(scores))

range(0, 5)

In [44]:
f = ['딸', '귤', '홍']

for i in f:
    print(i)

딸
귤
홍

In [45]:
f.append('복')
print(f)

['딸', '귤', '홍', '복']

In [46]:
for i in f:
    if i == '복': continue
    print(i)

딸
귤
홍

In [49]:
my_gpa = 4.0
if my_gpa >= 4.3:
    print("최우수")
    print("{my_gpa}점 입니다." .format(my_gpa = my_gpa))
elif my_gpa >= 4.0:
    print("우수")
    print("{my_gpa}점 입니다." .format(my_gpa = my_gpa))
else:
    print("졸")
    print("{my_gpa}점 입니다." .format(my_gpa = my_gpa))

우수
4.0점 입니다.

In [ ]:
#나무 

count = 0
while 0 < 10:
    count = count + 1
    print ("{count}번 찍었습니다".format(count = count))
    if count == 10:
        print("넘")