# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕")

안녕

In [2]:
print("123")

123

### 리스트만들기

In [4]:
# 빈 리스트
a = []
a

[]

In [6]:
b = [1, 2, 3,]
b

[1, 2, 3]

In [8]:
c = ['life', 'is', 'too', 'short']

In [12]:
d = [2, 2, "life", 'is']
d

[2, 2, 'life', 'is']

In [11]:
e = [1, 2, ["life", "is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [13]:
[0, 5] #공간 상 첫째부터 다섯번째까지

[0, 5]

In [15]:
a = [1, 2, 3]
a

[1, 2, 3]

In [16]:
a[1]

2

a[-1]

In [18]:
a[-3]

1

In [19]:
e

[1, 2, ['life', 'is']]

In [21]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [22]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [25]:
b = a[0:2]
b

[1, 2]

### 리스트의 연산자

In [26]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [27]:
a + b

[1, 2, 3, 4, 5, 1, 2]

In [28]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [29]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [40]:
# 하나의 값 수정하기 
a = [1, 2, 3]

In [41]:
a[2] = 4
a

[1, 2, 4]

In [42]:
# 연속된 범위의 값  수정
a[2:3]

[4]

In [46]:
a[2:3] = ['a', 'b', 'c']
a

[1, 2, 'a', 'b', 'c']

In [ ]:
# 중첩하여 수정하기 
a[2] = ['a', 'b', ]

In [50]:
#리스트 요소 삭제
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [51]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

### 리스트함수

In [53]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [58]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6], [5, 6], [5, 6], [5, 6], [5, 6]]

In [61]:
#릿스트 역정렬
a = [1, 3, 4, 5, 2]
a. reverse()
a

[2, 5, 4, 3, 1]

In [62]:
#리스트 정렬
a = [1, 3, 4, 5, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [64]:
#우치 반환
a = [1, 2, 3,]
a.index(3)
# 3의 우치는?

2

In [66]:
#리스트의 요소 산입
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [68]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 3]

In [70]:
a = [1, 2, 3, 1, 2, 3, 1, 2, 3 ]
a.remove(3)
a

[1, 2, 1, 2, 3, 1, 2, 3]

In [72]:
#리스트요소 꺼내기 
a = [1, 2, 3]
a.pop()

3

In [73]:
a

[1, 2]

In [74]:
#요소 개수 세기 
a = [1, 2, 3, 1]
a.count(1)

2

In [75]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [76]:
a = [1, 2, 3]
a.append([4, 5])
a

[1, 2, 3, [4, 5]]

### 튜플

In [3]:
# 리스트랑 비슷한데, 수정변경 불가, 리스트보다 안중요
t1 = ()
t2 = (1, ) #꼭 쉼표넣기
t3 = (1, 2, 3)
t4 = ('a', 'b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [4]:
del t2(0)

SyntaxError: can't delete function call (<ipython-input-4-a9369dd04949>, line 1)

### 딕셔너리

In [9]:
dic = {'name':'홍길동' , 'phone':'010'}
print(dic)

{'name': '홍길동', 'phone': '010'}

In [10]:
dic['name']

'홍길동'

In [11]:
dic['phone']

'010'

In [12]:
dic = {'name':'홍길동' , 'name':'홍시'}

In [13]:
dic['name'] #밸류를 2개이상하면 램덤으로나옴 그러니까 하지마

'홍시'

In [14]:
dic.keys() #키 리스트 생성

dict_keys(['name'])

In [15]:
dic.values() #밸류 리스트 생성

dict_values(['홍시'])

### 집합자료형 안해

### 불 자료형(bool)

In [16]:
# T / F
# True / False
3 > 1

True

In [17]:
1 > 3

False

In [19]:
if [1,2]:
    print("참")
else: 
    print("거짓")

참

# 3장 제어문
## 1. if 문

In [22]:
money = 1 # 돈이 있다.
if money: 
    print("택시 타자")
    
else: 
    print("걸어 가야해")

택시 타자

In [ ]:
# 기본구조 
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# 탭 1번 또는 스페이스바 4번

In [24]:
money = 2000 #내돈이 2000원있다
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어 가자

In [25]:
money = 2000 # 내돈
card = 1 #카드가 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [31]:
pocket = ['paper', 'handphone', 'handphone']
if 'money' in pocket:
    print("택시 타자")
else:
    if 'card':
        print("택시 타자")
    else: 
        print("걸어 가라")
# 길어길어

택시 타자

In [35]:
#줄이자 elif 사용
if 'money' in pocket:
    print("택시 타자")
elif 'card' in pocket:
        print("택시 타자")
else: 
        print("걸어 가라")

걸어 가라